# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
.DS_Store

# etl
etl/.venv
etl/cache/
etl/out/
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
